node_modules
.idea/
.vs
dist

clang/Debug/
clang/clang/Debug/
clang/clang/x64/
x64

-clang/clang/clang.vcxproj.filters
-clang/clang/clang.vcxproj
clang/clang.sdf

question/Debug/
question/question/Debug/
question/question/x64/

-clang/clang/clang.vcxproj.filters
-clang/clang/clang.vcxproj
question/question.sdf

cplusplus/Debug/
cplusplus/cplusplus/Debug/
cplusplus/cplusplus/x64/
cplusplus/Release
cplusplus/cplusplus/Release/

cplusplusclass/Debug/
cplusplusclass/cplusplusclass/Debug/
cplusplusclass/cplusplusclass/x64/
cplusplusclass/Release
cplusplusclass/cplusplusclass/Release/

mystring/Debug/
mystring/mystring/Debug/
mystring/mystring/x64/
mystring/Release
mystring/mystring/Release/

信息系统框架集成第三方产品案例/Debug/
信息系统框架集成第三方产品案例/信息系统框架集成第三方产品案例/Debug/
信息系统框架集成第三方产品案例/信息系统框架集成第三方产品案例/x64/
信息系统框架集成第三方产品案例/Release
信息系统框架集成第三方产品案例/信息系统框架集成第三方产品案例/Release/

qt/build-qtdemoe-Desktop_Qt_5_8_0_MSVC2015_64bit-Debug
build**

*.pro.user
book