QPalette{background:#F0F0F0;}

QWidget#frmMain,QWidget[Form="true"]{
	border:1px solid #C1C1C1;
	border-radius:0px;	
}

.QFrame{
	border:1px solid #DCDCDC;
	border-radius:5px;
}

QWidget#widget_title{
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #E4E4E4, stop:1 #A2A2A2);
}

QLabel{
	color: #000000;
}

QLabel#lab_Ico,QLabel#lab_Title{
	border-radius:0px;
	color: #000000;
	background-color:rgba(0,0,0,0);
	border-style:none;
}

QLabel#labfrmData,QLabel#labfrmHost,QLabel#labfrmDefence,QLabel#labfrmIPCGroup,QLabel#labfrmIPC,QLabel#labfrmIPCLink,QLabel#labfrmVideoPlayBack,QLabel#labfrmConfig,QLabel#labCheckAllStatus,QLabel#labfrmExit{
	padding:5px;
	color: #000000;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #E4E4E4, stop:1 #A2A2A2);	
}

QLabel#labfrmData:hover,QLabel#labfrmHost:hover,QLabel#labfrmDefence:hover,QLabel#labfrmIPCGroup:hover,QLabel#labfrmIPC:hover,QLabel#labfrmIPCLink:hover,QLabel#labfrmVideoPlayBack:hover,QLabel#labfrmConfig:hover,QLabel#labCheckAllStatus:hover,QLabel#labfrmExit:hover{	
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #DBDBDB, stop:1 #C1C1C1);	
}

QLabel[labVideo="true"]{	
	color: #000000;
	border: 1px solid #B4C2D7;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #E4E4E4, stop:1 #A2A2A2);
}

QLabel[labVideo="true"]:focus{
	border: 1px solid #FF0000;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #DBDBDB, stop:1 #C1C1C1);
}

QLineEdit,QTextEdit {
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	padding: 2px;
	background: none;
	selection-background-color: #E4E4E4;
	selection-color: #000000;
}

QLineEdit[echoMode="2"] { 
	lineedit-password-character: 9679; 
}

.QGroupBox{
	border: 1px solid #DCDCDC;
	border-radius: 5px;
}

.QPushButton{
	border-style: none;
	border: 1px solid #DCDCDC;
	color: #000000;
	padding: 5px;	
	min-height: 20px;
	border-radius:5px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #E4E4E4, stop:1 #A2A2A2); 
}

.QPushButton[focusPolicy="0"] {
	border-style: none;
	border: 1px solid #DCDCDC;
	color: #000000;
	padding: 0px;	
	min-height: 10px;
	border-radius:3px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #E4E4E4, stop:1 #A2A2A2); 
}

.QPushButton:hover{ 
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #DBDBDB, stop:1 #C1C1C1);
}

.QPushButton:pressed{ 
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #E4E4E4, stop:1 #A2A2A2);
}

.QPushButton:disabled{ 
	color: #838383;
	background: #F4F4F4;
}

QPushButton#btnMenu,QPushButton#btnMenu_Min,QPushButton#btnMenu_Max,QPushButton#btnMenu_Close{
	border-radius:0px;
	color: #000000;
	background-color:rgba(0,0,0,0);
	border-style:none;
}

QPushButton#btnMenu:hover,QPushButton#btnMenu_Min:hover,QPushButton#btnMenu_Max:hover{
	background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(25, 134, 199, 0), stop:1 #DBDBDB);
}

QPushButton#btnMenu_Close:hover{
	background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(238, 0, 0, 128), stop:1 rgba(238, 44, 44, 255));
}

QCheckBox {
	color: #000000;
	spacing: 2px; 
}

QCheckBox::indicator {
	width: 20px;
	height: 20px;
}

QCheckBox::indicator:unchecked {
	image: url(:/image/checkbox_unchecked.png);
}

QCheckBox::indicator:checked {
	image: url(:/image/checkbox_checked.png); 
}

QRadioButton {
	color: #000000;
	spacing: 2px;
}

QRadioButton::indicator {
	width: 15px; 
	height: 15px; 
}

QRadioButton::indicator::unchecked {
	image: url(:/image/radio_normal.png); 
}

QRadioButton::indicator::checked {
	image: url(:/image/radio_selected.png); 
}

QComboBox,QDateEdit{
	border-radius: 3px;
	padding: 3px 5px 3px 5px;
	border: 1px solid #DCDCDC;
}

QComboBox::drop-down,QDateEdit::drop-down {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 15px; 
	border-left-width: 1px;
	border-left-style: solid;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-left-color: #DCDCDC;
}

QComboBox::down-arrow,QDateEdit::down-arrow {
	image: url(:/image/array_down.png); 
}

QMenu {
	color: #000000;
	background-color:#E4E4E4;
	margin: 2px;
}

QMenu::item {	
	padding: 3px 10px 3px 10px;
}

QMenu::indicator {
	width: 13px;
	height: 13px;
}

QMenu::item:selected {
	color: #000000;
	border: 1px solid #B4C2D7;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #E4E4E4, stop:1 #A2A2A2); 
}

QMenu::separator {
	height: 1px;
	background: #DBDBDB;
}

QProgressBar {
	background: #E4E4E4;
	border-radius: 5px;
	text-align: center;
	border: 1px solid #DCDCDC;
}

QProgressBar::chunk {
	width: 5px; 
	margin: 0.5px;
	background-color: #DCDCDC;
}

QSlider::groove:horizontal,QSlider::add-page:horizontal { 
	background: #DCDCDC; 
	height: 8px; 
	border-radius: 3px; 
}

QSlider::sub-page:horizontal {
	height: 8px; 
	border-radius: 3px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #DBDBDB, stop:1 #C1C1C1); 
}

QSlider::handle:horizontal {
	width: 13px; 
	margin-top: -3px; 
	margin-bottom: -3px; 
	border-radius: 6px;
	background: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5,stop:0.6 #FFFFFF, stop:0.778409 #A2A2A2);
}

QSlider::handle:horizontal:hover {
	background: qradialgradient(spread: pad, cx: 0.5, cy: 0.5, radius: 0.5, fx: 0.5, fy: 0.5, stop: 0.6 #FFFFFF,stop:0.778409 #C1C1C1);
}

QSlider::groove:vertical,QSlider::sub-page:vertical {
	background:#DCDCDC; 
	width: 8px; 
	border-radius: 3px;
}

QSlider::add-page:vertical {
	width: 8px;
	border-radius: 3px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #DBDBDB, stop:1 #C1C1C1); 
}

QSlider::handle:vertical {
	height: 14px; 
	margin-left: -3px;
	margin-right: -3px;
	border-radius: 6px;
	background: qradialgradient(spread: pad, cx: 0.5, cy: 0.5, radius: 0.5, fx: 0.5, fy: 0.5, stop: 0.6 #FFFFFF, stop:0.778409 #A2A2A2);
}

QSlider::handle:vertical:hover {
	background: qradialgradient(spread: pad, cx: 0.5, cy: 0.5, radius: 0.5, fx: 0.5, fy: 0.5, stop: 0.6 #FFFFFF,stop:0.778409 #C1C1C1);
}

QScrollBar:vertical {
	width:10px; 
	background-color:rgba(0,0,0,0%); 
	padding-top:10px; 
	padding-bottom:10px;
}

QScrollBar:horizontal {
	height:10px; 
	background-color:rgba(0,0,0,0%); 
	padding-left:10px; padding-right:10px;
}

QScrollBar::handle:vertical {
	width:10px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #DBDBDB, stop:1 #C1C1C1); 
}

QScrollBar::handle:horizontal {
	height:10px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #DBDBDB, stop:1 #C1C1C1); 
}

QScrollBar::handle:vertical:hover {
	width:10px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #E4E4E4, stop:1 #A2A2A2); 
}

QScrollBar::handle:horizontal:hover {
	height:10px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #E4E4E4, stop:1 #A2A2A2); 
}

QScrollBar::add-line:vertical {
	height:10px;
	width:10px;
	subcontrol-position: bottom; 
	subcontrol-origin: margin;
	border-image:url(:/image/add-line_vertical.png);
}

QScrollBar::add-line:horizontal {
	height:10px;
	width:10px;
	subcontrol-position: right;
	subcontrol-origin: margin;
	border-image:url(:/image/add-line_horizontal.png);
}

QScrollBar::sub-line:vertical {
	height:10px;
	width:10px;
	subcontrol-position: top; 
	subcontrol-origin: margin;
	border-image:url(:/image/sub-line_vertical.png);
}

QScrollBar::sub-line:horizontal {
	height:10px;
	width:10px;
	subcontrol-position: left;
	subcontrol-origin: margin;
	border-image:url(:/image/sub-line_horizontal.png);
}

QScrollBar::add-page:vertical,QScrollBar::sub-page:vertical {
	width:10px;
	background: #DCDCDC;
}

QScrollBar::add-page:horizontal,QScrollBar::sub-page:horizontal {
	height:10px;
	background: #DCDCDC;
}

QScrollArea {
	border: 0px ; 
}

QTreeView,QListView,QTableView,QTabWidget::pane{
	border: 1px solid #DCDCDC; 
	selection-background-color: #DBDBDB;
	selection-color: #000000;
}

QTableView::item:selected, QListView::item:selected, QTreeView::item:selected {
	color: #000000;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #E4E4E4, stop:1 #A2A2A2); 
}

QTableView::item:hover, QListView::item:hover, QTreeView::item:hover {
	color: #000000;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #DBDBDB, stop:1 #C1C1C1); 
}

QTableView::item, QListView::item, QTreeView::item {
	padding: 5px; 
	margin: 0px; 
}

QHeaderView::section,QTableCornerButton:section {
	padding:3px;
	margin:0px;
	color:#000000;
	border: 1px solid #DCDCDC;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #DBDBDB, stop:1 #C1C1C1);
}

QTabBar::tab {
	border-radius:5px;
	border: 1px solid #DCDCDC;
	color: #000000;
	min-width: 60px;
	min-height: 20px;
	padding: 3px 8px 3px 8px;
	margin:1px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #DBDBDB, stop:1 #C1C1C1); 
}

QTabBar::tab:selected, QTabBar::tab:hover {
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #E4E4E4, stop:1 #A2A2A2); 
}

QStatusBar::item {
     border: 0px solid #E4E4E4;
     border-radius: 3px;
}